<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.signapp.mapper.DocMapper">

	
	<!-- //////// SELECT //////// -->
	<!--
        [1] 사원: 본인이 작성한 문서만 조회
    -->
    <select id="selectMyDocuments" parameterType="string" resultType="com.example.signapp.dto.Document">
	    SELECT doc_no docNo, doc_title docTitle, emp_name empName, doc_content docContent, status, createdate
		FROM document INNER JOIN emp
		ON document.emp_id = emp.emp_id
		WHERE emp.emp_id = (
		  SELECT emp_id FROM emp WHERE emp_id = #{empId}
		)
		ORDER BY createdate DESC
	</select>
    
    <!--
        [2] 팀장: 같은 부서(emp.dept) 사람들의 문서 조회
    -->
    <select id="selectTeamDocuments" parameterType="string" resultType="com.example.signapp.dto.Document">
	    SELECT doc_no docNo, doc_title docTitle, emp_name empName, doc_content docContent, status, createdate
		FROM document INNER JOIN emp
		ON document.emp_id = emp.emp_id
	    WHERE emp.emp_id IN (
	        SELECT emp_id
	        FROM emp
	        WHERE dept = (
	            SELECT dept FROM emp WHERE emp_id = #{empId}
	        )
	    )
	    ORDER BY createdate DESC
	</select>
	
	<!--
        [3] 관리자: 전체 문서 다 조회
    -->
    <select id="selectAllDocuments" resultType="com.example.signapp.dto.Document">
	    SELECT doc_no docNo, doc_title docTitle, emp_name empName, doc_content docContent, status, createdate
		FROM document INNER JOIN emp
		ON document.emp_id = emp.emp_id
	    ORDER BY createdate DESC
	</select>
	
	<select id="selectDocumentByNo" parameterType="int" resultType="com.example.signapp.dto.Document">
	    SELECT doc_no docNo, emp.emp_id empId, doc_title docTitle, emp_name empName, doc_content docContent, status, createdate
		FROM document INNER JOIN emp
		ON document.emp_id = emp.emp_id
	    WHERE doc_no = #{docNo}
	</select>

	<!-- //////// UPDATE //////// -->
	<update id="updateDocument" parameterType="com.example.signapp.dto.Document">
		UPDATE document
		SET doc_title = #{docTitle}, doc_content = #{docContent}
		WHERE doc_no = #{docNo} AND emp_id = #{empId}
	</update>
	
	<update id="updateSignStatus">
		UPDATE document
		SET status = #{signStatus}
		WHERE doc_no = #{docNo}
	</update>
	
	<!-- //////// DELETE //////// -->
	<delete id="deleteDocument" parameterType="int">
		DELETE FROM document
		WHERE doc_no = #{docNo}
	</delete>
	
	<!-- //////// INSERT //////// -->
	<insert id="insertDocument"
	        parameterType="com.example.signapp.dto.Document"
	        useGeneratedKeys="true"
	        keyProperty="docNo">
	    INSERT INTO document (emp_id, doc_title, doc_content, status, createdate)
	    VALUES (#{empId}, #{docTitle}, #{docContent}, #{status}, NOW())
	</insert>
</mapper>