<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.signapp.mapper.SignMapper">


	<!-- //////// SELECT //////// -->
	<select id="getSign" parameterType="int" resultType="com.example.signapp.dto.Sign">
		SELECT
			s.sign_no AS signNo,
			s.doc_no AS docNo,
			s.emp_id AS empId,
			s.createdate AS createDate,
			s.sign_name AS signName,
			e.emp_level AS empLevel,
			e.emp_name AS empName
		FROM sign s
		INNER JOIN emp e ON s.emp_id = e.emp_id
		WHERE s.doc_no = #{docNo} AND e.emp_level = #{empLevel};
	</select>
	
	<!-- //////// UPDATE //////// -->
	
	
	<!-- //////// DELETE //////// -->
	
	
	<!-- //////// INSERT //////// -->
	
		<!-- 
			DB에 사인 정보 저장
		 -->
	<insert id="insertSign" parameterType="com.example.signapp.dto.Sign">
		INSERT INTO sign(
			doc_no, emp_id, sign_name
		) VALUES(
			#{docNo}, #{empId}, #{signName}
		)
	
	</insert>
	
</mapper>